[submodule "mod-test"]
	path = ext/test1
	url = ../bumblebee10-10/module.git

[submodule "mod-test2"]
	path = ext/test2
	url = ../bumblebee10-10/module

# upstreamable

[submodule "embassy"]
	path = ext/embassy
	url = https://github.com/embassy-rs/embassy.git

[submodule "modbus-core"]
	path = ext/modbus-core
	url = https://github.com/slowtec/modbus-core.git
