[submodule "mod-test1"]
	path = ext/test1
	url = git://git@github.com/bumblebee10-10/module.git

[submodule "mod-test2"]
	path = ext/test2
	url = https://github.com/bumblebee10-10/module

[submodule "mod-test3"]
	path = ext/test3
	url = ssh://git@github.com/bumblebee10-10/module.git


# upstreamable

[submodule "embassy"]
	path = ext/embassy
	url = https://github.com/embassy-rs/embassy.git

[submodule "modbus-core"]
	path = ext/modbus-core
	url = https://github.com/slowtec/modbus-core.git
